@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --MainBackground: rgba(246, 246, 246, 1);
    --Accent: '#5145ba';
    --CardColor: '#ececec';
    --CardBorder: 'none';
    --TextColor: '#000000';
    --DropAreaColor: '#5145ba04';
    --DropAreaBorder: '#5145ba4d';
    --LinkColor: '#5145ba';
    --LinkAccent: 'none';


    --buttonText: white;
    --buttonColor: black;
    --veryLightBlue: rgba(248, 248, 255, 1);
    --darkerBlue: #BFC5EA;
}


body{
    font-family: Mulish;
    background-color: var(--MainBackground);
}

* {
    color: var(--TextColor);
}

#loginDesc{
  width:60%;
  font-weight: normal;
  margin: auto;
  padding: 1rem;
  text-overflow: clip;
}

.outerFlex-1{
    display:flex;
     /* background-color: var(--CardColor); */
    margin: 0.1rem;
    flex-direction: column;

    transition: margin-right .5s;
}

.outerFlex-2{
    display: flex;
     /* background-color: green;  */
    margin: 0.5rem;
}


.innerFlex-1{
    display:flex;
    /* background-color:blueviolet; */
    margin: 0.1rem;
    justify-content: space-between;
    width: 100%;
}

.headerItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.upload-boxFlex{
    width: 60%;
    background-color: var(--CardColor);
    border-radius: 0.1rem;
    margin: auto;
    box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 0.2);
    padding: 0.5rem;
}


.innerFolderHolder{
  border-bottom:0.1rem solid rgb(150, 147, 147);
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  width:90%;
}

.innerFolderHolder:hover{
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.3s;
}

.fileDisplay {
padding: 1rem;
}

.fileList{
  display:block;
  list-style-type: none;
  max-height:0;
  width: 100%; 
  overflow-x: hidden; 
  overflow-y:hidden;
  transition: max-height 500ms linear;


}

.shadowCard{
  width: 60%;
  background-color: var(--CardColor);
  border: 1px solid var(--CardBorder);
  border-radius: 0.1rem;
  margin: auto;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 0.2);
}

.cardTitle{
  font-size:1.1rem;
  padding: 0.2rem;
  text-align: center;
}

.hidden{
  display: none;
}

.innerUpload-boxFlex{
    background-color: var(--DropAreaColor);
    border-radius: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--DropAreaBorder);
    width: 50%;
    height:20rem;
    margin: auto;
    text-align: center;
    align-content: center;
}

.showFile{
  background-color: var(--veryLightBlue);
  border-radius: 0.1rem;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: var(--darkerBlue);
  margin:auto;
  margin-top:0.5rem;
  text-align: center;
  align-content: center;
  width: 50%;  
  display:flex;
  padding-left: 0.6rem;
  justify-content: space-between;
  align-items: center;
}

/* Start - File Upload History Styling */
.uploadHistoryTable {
  width: 90%; 
  height: 80%;
  margin: auto;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 1rem;
}

th {
  border-bottom: 0.2rem solid #616161;
  position: sticky;
  top: 0;
  background-color: #FFFFFF; 
}

tr:not(:first-child) {
  border-top: 0.15rem solid #D6D6D6;
}

/* End - File Upload History Styling */

.navList{
  list-style-type: none;
}

.hidden{
  display:none;
}

.listFlex{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.listFlex:hover{
  transform: scale(1.1);
  transition: 0.3s;
cursor: pointer;
}

.listIcon{
  padding: 0.5rem;
}
#mainTitle{
    font-size: 1.3rem;
    margin-left: -1rem;
}

#userName{
    font-size: 1.4rem;
    padding: 0.2rem;
}

#zipUploadTitle{
    font-size:1.1rem;
    padding: 0.2rem;
    text-align: center;
}

#fileElem{
  display: none;
}

#drop-area.highlight{
  background-color: var(--darkerBlue);
}

#burgerButton{
    padding: 0.2rem;
    font-size: 2rem;
    transition: 0.4s;
}

#burgerButton:hover {
transform: scale(1.2);
cursor: pointer;
transition: 0.4s;
}

#uploadIcon{
    font-size: 5rem;
}

#uploadIcon:hover{
  transform: scale(1.1);
  transition: 0.5s;
cursor: pointer;
}

#browseLink:hover{
  color:var(--darkerBlue);
  transition: 0.5s;
  cursor: pointer;
}

#loginLink{
  text-decoration: underline;
  padding: 0.2rem;
  transition: 0.5s;
  color: var(--LinkColor);
}

.webDescText{
  padding: 1rem;
}

.boldThis{
  font-weight: bold;
}

#loginLink:hover{
  color:var(--darkerBlue);
  transition: 0.5s;
  cursor: pointer;
}

#browseLink{
    text-decoration: underline;
    padding: 0.2rem;
}

.uploadDescHolder{
    /* background-color: blue; */
    text-align: center;
}

/* The side navigation menu */
.navBar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: var(--MainBackground);
  overflow-x: hidden; 
  padding-top: 6rem; 
  transition: 0.5s; 
}

#closeBurger{
  padding: 0.4rem;
  font-size:2rem;
  transition: 0.4s;
}

#closeBurger:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.4s;
}

#navUserName{
  padding:1rem;
}

#fileTypeListTest{
  list-style-type: none;
}

#fileTypeList{
  list-style-type: none;
}

.innerBarItem{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.innerBarItem li{
  margin-left:-2rem;
}

.outerBarItem{
  background-color: pink;
  margin: 0.3rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  min-width: 7rem;
}

#loginButton{
  background-color: var(--buttonColor);
  color: var(--buttonText);
  border-radius: 0.3rem;
  border: 1px solid var(--LinkAccent);
  padding: 0.5rem;
  text-decoration: none;
  width: 4.5rem;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  transition: 0.4s;

}

.logo{
  width:6rem;
  height: auto;
}

#loginButton:hover{
  transform: scale(1.1);
  transition: 0.4s;
cursor: pointer;
}
