@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --mainBackground: rgba(246, 246, 246, 1);
    --veryLightBlue: rgba(248, 248, 255, 1);
    --darkerBlue: #BFC5EA;
}


body{
    font-family: Mulish;
    background-color: var(--mainBackground);
}

.outerFlex-1{
    display:flex;
    /* background-color: red; */
    margin: 0.1rem;
    flex-direction: column;

    transition: margin-right .5s;
}

.outerFlex-2{
    display: flex;
    /* background-color: green; */
    margin: 0.1rem;
}


.innerFlex-1{
    display:flex;
    /* background-color:blueviolet; */
    margin: 0.1rem;
    justify-content: space-between;
    width: 100%;
}

.headerItem{
    /* background-color: pink; */
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upload-boxFlex{
    width: 60%;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.1rem;
    margin: auto;
    box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 0.2);
}

.innerUpload-boxFlex{
    background-color: var(--veryLightBlue);
    border-radius: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--darkerBlue);
    width: 50%;
    height:20rem;
    margin: auto;
    text-align: center;
    align-content: center;
}

.navList{
  list-style-type: none;
}

.listFlex{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.listIcon{
  padding: 0.5rem;
}
#mainTitle{
    font-size: 1.3rem;
    padding: 0.2rem;
}

#userName{
    font-size: 1.1rem;
    padding: 0.2rem;
}

#zipUploadTitle{
    font-size:1.1rem;
    padding: 0.2rem;
    text-align: center;
}

#burgerButton{
    padding: 0.2rem;
}

#burgerButton:hover {
transform: scale(1.2);
cursor: pointer;
}

#uploadIcon{
    font-size: 5rem;
}

#browseLink{
    text-decoration: underline;
    padding: 0.2rem;
}

.uploadDescHolder{
    /* background-color: blue; */
    text-align: center;
}

/* The side navigation menu */
.navBar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 6rem; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#closeBurger{
  padding: 0.4rem;
}

#closeBurger:hover{
  transform: scale(1.2);
  cursor: pointer;
}
